 @tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #374151 inset !important; /* gray-700 */
  box-shadow: 0 0 0 1000px #374151 inset !important;
}
